<h1>Edit Workout</h1>

<%= form_for @workout do |f| %>
<%= f.label :name, "Name:" %>
<%= f.text_field :name %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.submit "Update", class: "btn btn-primary btn-sm" %>
<% end %>


<h3>Exercises:</h3>
<ul>
    <% @exercises.each do |l| %>
    <li><%= l.name %> <%= link_to (fa_icon "times"), exercise_path(l.id), method: "delete" %></li>
    <% end %>
</ul>

<div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "Delete Workout", workout_path(@workout), method: "delete", class: "btn btn-primary"%>
</div>