<h1><%= @workout.name %></h1>
<div class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addForm" aria-expanded="false" aria-controls="addForm">Add Exercise</button>
    <a class="btn btn-primary" href="/workouts/<%= @workout.id%>/edit" role="button">Edit Workout</a>
    <a class="btn btn-primary" href="/users/<%= current_user.id%>" role="button">Back</a>
</div>

<div class="collapse" id="addForm">
    <div class="card card-body">
        <%= form_for @exercise do |f| %>
        <div class="form-row">
        <div class="col-md-3">
        <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
        </div>
        <div class="col-md-2">
        <%= f.number_field :sets, placeholder: "Sets", class: "form-control" %>
        </div>
        <%= f.hidden_field :workout_id, value: @workout.id %>
        <div class="col-lg-1">
        <%= f.submit "Add", class: "btn btn-primary form-control" %>
        </div>
        </div>
        <% end %>
    </div>
</div>
<h3>Exercises:</h3>
<div class="list-group">
    <% @exercises.each do |l| %>
    <a href="<%= exercise_path(l.id) %>" class="list-group-item list-group-item-action list-group-item-dark"><%= l.name %> : <%= l.sets %> Sets</a> 
    <% end %>
</div>
