<h1><%= @workout.name %></h1>
<div class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#resultForm" aria-expanded="false" aria-controls="resultForm">Add Exercise</button>
    <a class="btn btn-primary" href="/workouts/<%= @workout.id%>/edit" role="button">Edit Workout</a>
    <a class="btn btn-primary" href="/users/<%= current_user.id%>" role="button">Back</a>
</div>

<div class="collapse" id="resultForm">
    <div class="card card-body">
        <%= form_for @exercise do |f| %>
        <%= f.label :name, "Name" %>
        <%= f.text_field :name %>
        <%= f.label :sets, "Sets" %>
        <%= f.number_field :sets %>
        <%= f.hidden_field :workout_id, value: @workout.id %>
        <%= f.submit %>
        <% end %>
    </div>
</div>
<h3>Exercises:</h3>
<div class="list-group">
    <% @exercises.each do |l| %>
    <a href="<%= exercise_path(l.id) %>" class="list-group-item list-group-item-action list-group-item-primary"><%= l.name %> : <%= l.sets %> Sets</a> 
    <% end %>
</div>
