<h1> <%= @exercise.name %></h1>

<div class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#resultForm" aria-expanded="false" aria-controls="resultForm">Do Set</button>
    <a class="btn btn-primary" href="/workouts/<%= @exercise.workout_id%>" role="button">Back</a>
</div>

<div class="collapse" id="resultForm">
    <div class="card card-body">
        <%= form_for @result do |f| %>
        <div class="form-row">
            <div class="col-md-2">
            <%= f.number_field :reps, placeholder: "Reps", class: "form-control" %>
            </div>
            <div class="col-md-2">
            <%= f.number_field :weight, placeholder: "Weight", class: "form-control" %> 
            </div>
            <%= f.hidden_field :exercise_id, value: @exercise.id %>
            <div class="col-md-2">
            <%= f.submit "Add", class: "btn btn-primary form-control" %>
            </div>
            <% end %>
        </div>
    </div>
</div>

<h2>History:</h2>
<div id="resultsAccordion" data-children=".item">
    <div class="item">
        <a class="btn btn-primary" data-toggle="collapse" data-parent="#resultsAccordion" href="#weight" aria-expanded="true" aria-controls="weight">Weight</a>
        <div id="weight" class="collapse" role="tabpanel">
            <p class="mb-3">
                <div class="card">
                <%= area_chart @results.group(:id).sum(:weight), colors: ["#49FEBD"] %>
                </div>
            </p>
        </div>
        </div>
    <div class="item">
        <a class="btn btn-primary" data-toggle="collapse" data-parent="#resultsAccordion" href="#reps" aria-expanded="false" aria-controls="reps">Reps</a>
        <div id="reps" class="collapse" role="tabpanel">
            <p class="mb-3">
                <div class="card">
                <%= area_chart @results.group(:id).sum(:reps), colors: ["#49FEBD"] %> 
                </div>      
            </p>
        </div>
    </div>
</div>

<h2>Results:</h2>
<% if @exercise.results.count == 0 %>
<p class="list-group-item list-group-item-dark">No results yet.</p>
<% else %>
<div class="list-group">
    <% @results.each do |l| %>
    <li class="list-group-item list-group-item-dark"><%= l.reps %> at <%= l.weight %> lbs.</li>
    <% end %>
</div>
<% end %>